<div class="bg-info posts">
  <h4>Notícias</h4>
  <dl>
    {% for post in site.posts %}
    <dt>
      {{ post.date | date: "%Y-%m-%d" }}
    </dt>
    <dd>
      {% if post.title %}
      <a class="page-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      {% endif %}
    </dd>
    {% endfor %}
  </dl>
  <div style="text-align: right">
    <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>
  </div>
</div>
<div class="bg-info posts col-centered">
  <h4>Sponsors </h4>
{% for sponsor in site.sponsors %}
  <p style="margin-top: 2em">
    <a href="{{ sponsor.webpage }}"><img src="{{ baseurl }}/{{ sponsor.logo_small }}" /></a>
  </p>
{% endfor %}
</div>
